body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.heading {
	padding: 40px;
}

.headline-404 h1{
	font-size: 8em;
	font-weight: 900;
}

.fuck{
	background-color: pink;
	background-image: url("../img/fuck.png");
	background-size: 300px;
}

.fuck h1 {
	color: white;
	font-size: 16em;
	font-weight: 900;
	word-wrap: break-word;
}

mark {
  background-color: darkgrey;
  color: white;
	line-height: 40px;
}

.mark {
	background-color: darkgrey;
	color: white;
	text-decoration: none;
}
