.navbar-affixed .navbar-default {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar {
	background-color: white;
	border-width: 0px;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-brand {

}

#square-buttons {
	padding-top: 10em;
	padding-bottom: 10em;
}

.brand-image {
	height: 200px;
}
