.rect-box1 {
	min-height: 200px;
	position: relative;
	background-image: url(/img/boxes/shirtsnew.jpg);
	background-position: center;
	background-size: cover;
	-webkit-transition:background-position 1s ease;
}

.rect-box1:hover {
	background-position: bottom;
}

.rect-box2 {
	min-height: 200px;
	position: relative;
	background-image: url(/img/boxes/crew2.png);
	background-position: center;
	background-size: cover;
	-webkit-transition:background-position 1s ease;
}

.rect-box2:hover {
	background-position: bottom;
}

.rect-box3 {
	min-height: 200px;
	position: relative;
	background-image: url(/img/boxes/hatsnew.jpeg);
	background-position: center;
	background-size: cover;
	-webkit-transition:background-position 1s ease;
}

.rect-box3:hover {
	background-position: top;
}

.rect-box4 {
	min-height: 200px;
	position: relative;
	background-image: url(/img/boxes/all.png);
	background-position: center;
	background-size: cover;
	-webkit-transition:background-position 1s ease;
}

.rect-box4:hover {
	background-position: top;
}

.rect-row {
	margin-bottom: 2px;
	padding: 0px;
}

.caption {
	position: absolute;
	color: ghostwhite;
	width: 100%;
	bottom: 35%;
}

#track-nav {
	padding-top: 2em;
	padding-bottom: 2em;
}
