body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  background-color: #F19F4D;
}

.container-fluid {
  min-height: 100%
}

.ugh {
  font-size: 1px;
  word-break: break-all;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}
p {font-size: 16px;}
.margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bg-1 {
  background-color: #4484CE; /* Cerulean */
  color: #ffffff;
}
.bg-2 {
  background-color: #D9D9D9; /* Aluminium */
  color: #2f2f2f;
}
.bg-3 {
  background-color: #F9CF00; /* Light */
  color: #FFF;
}
.bg-4 {
  background-color: #2f2f2f; /* Dark Grey */
  color: #fff;
}
.bg-5 {
  background-color: #F19F4D; /* Tangerine */
  color: #fff;
}
.btn {

}
