body {
  font: 20px;
  font-family: 'Oswald', sans-serif;
  line-height: 1.8;
  color: #FFFFFF;
  background: #e90000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e90000 , #94002d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e90000 , #94002d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
  min-height: 100%
}

.ugh {
  font-size: 300px;
  line-height: 260px;
  word-break: break-all;
  margin-bottom: 80px;
  color: #FFFFFF;
  position: absolute;
}

.radius-0 {
  border-radius: 0px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 16px;
}

p {font-size: 16px;}

.margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn {
  border-radius: 0px;
}

#email {
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  position: fixed;
}
